.input {
    all: unset;
    width: 500px;
    height: 50px;
    padding: 0 10px;
    border: 2px solid #aaaaaa;
    border-radius: 5px;
    color: white;
    transition: 0.3s ease-in-out;
}

.input:focus {
    border: 2px solid #ffffff;
}